.order-details-view {
  width: 30%;
  float: left;

  table {
    width: 100%;

    tr {
      height: 40px;
      font-size: 18px;

      td:first-of-type {
        width: 30%;
      }

      label {
        font-weight: 600;
        margin-right: 10px;
      }

      select {
        width: 100%;
        padding: 4px 2px;
      }

      input {
        width: 50px;
        padding: 4px 2px;
      }
    }
  }

  .actions {
    margin: 30px auto;
    text-align: center;
  }
}
