<div class="orders-view page-view">
  <h2>Shopping Cart</h2>

  <table>
    <thead>
      <td>Name</td>
      <td>Qty</td>
      <td>Price</td>
      <td>&nbsp;</td>
    </thead>
    <tr *ngFor="let order of orders" [class.selected]="order === selectedOrder" class="order">
      <td (click)="onSelect(order); orderDetails.setSelectedOrder(order)" title="Update {{order.name}}">
        <span>{{order.name}}</span></td>
      <td><span>{{order.quantity}}</span></td>
      <td><span>{{order.price | currency}}</span></td>
      <td (click)="onDelete(order)" title="Delete {{order.name}}"><span>x</span></td>
    </tr>
  </table>

  <div class="total-price">
    <span>Total: {{ totalPrice | currency }}</span>
  </div>
</div>

<app-order-details #orderDetails [selectedOrder]="selectedOrder" (updateOrdersEvent)="processUpdateOrdersEvent($event)">
</app-order-details>
